<script lang="ts">
  import ThemeToggle from "./../buttons/ThemeToggle.svelte";

  import Home from "./../buttons/Home.svelte";

  import { t, locale, locales } from "$lib/scripts/i18n";

  type NavType = "default" | "welcome";
  if (typeof navigator !== "undefined") {
    console.log(navigator.language);

    //set locale to the browser's language
    locale.set(navigator.language);
  }

  export let navType: NavType;
</script>

{#if navType === "default"}
  <div class="navbar bg-base-300 px-4">
    <div class="hidden sm:block flex-1">
      <a class="btn btn-ghost normal-case text-xl invisible sm:visible" href="/"
        ><img src="/images/sitelogo.svg" alt="Arth" width="75" height="75" /></a
      >
    </div>
    <div class="flex-1 md:flex-none space-x-2 navbar-end">
      <ul class="invisible md:visible md:space-x-0 menu menu-horizontal p-0">
        <li>
          <a href="/" class="btn btn-ghost rounded-lg">Home</a
          >
          
        </li>

      </ul>

      <Home />
      <ThemeToggle />

    </div>
  </div>
{:else if navType === "welcome"}
  <div class="navbar fixed justify-between px-6">
    <img src="/images/sitelogo.svg" alt="Arth" width="75" height="75" />

    <ThemeToggle />
  </div>
{/if}
